.content-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color:#002198;
  padding: 20px 0;
  color: #fff;
  font-size: 11px;
  word-break: break-word;
}

.left {
  display: flex;
  padding-left: 8%;
}

.left a {
  margin: 0 10px;
}

.select select {
  background-color: transparent;
  color: #fff;
  outline: none;
  font-size: 11px;
}

.right-icons a {
  margin-left: 10px;
}

@media only screen and (max-width: 660px){
  .content-menu {
    display: none;
  }

  
}