.banner-container {
  background-color: #002198;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
}

.banner-container h2 {
  font-size: 48px;
  color: #fff;
  width: 60%;
  padding-right: 150px;
  font-weight: normal;
}

.banner-container img {
  width: 40%;
}

@media only screen and (max-width: 900px){
  .banner-container h2 {
    padding-right: 40px;
  }
}

@media only screen and (max-width: 730px) {
  .banner-container {
    flex-direction: column;
  }

  .banner-container h2 {
    width: 100%;
    padding-right: 0;
  }

  .banner-container img {
    width: 80%;
  }
}