.menu-2 {
  padding: 50px 5%;
  font-size: 14px;
}

.mobile, .menu-retratil {
  display: none;
}

.menu-2 nav{
  width: 90%;
}

.menu-2 nav a {
  margin: 0 30px;
}

@media screen and (max-width: 780px) {
  .menu-2 nav a {
    margin: 0 10px;
  }
}

@media screen and (max-width: 660px){
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    justify-content: space-between;
    padding: 30px 8%;
  }
  .menu-retratil{
    /* display: flex; */
  }

  .mobile span svg {cursor: pointer;}

  .menu-retratil {
    background-color: rgb(9,38,216);
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .sub-select {
    color: #fff;
    border-bottom: 1px solid #5168E6;
    padding: 10px 30px;
    max-width: 300px;
  }

  .sub-left {
    display: flex;
    padding: 30px;
    justify-content: space-between;
  }

  .sub-left button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 15px 30px;
    color: #fff;
    font-size: 20px;
    border-radius: 14px;
  }

  .sub-left svg {
    cursor: pointer;
  }

  ul {
    padding: 30px;
  }

  ul li {
    margin: 30px 0;
    font-size: 20px;
  }

  .bottomIcons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    padding: 30px;
    border-top: 1px solid #5168E6;
  }
}