.cards-container {
  background-color: #F0F1F2;
  padding: 100px 8%;
}

.cards-container h4 {
  color: #696969;
}

.cards-container h2 {
  font-weight: normal;
  font-size: 32px;
  margin: 30px 0 50px;
  line-height: 40px;
}

.cards-container .cards-top {
  width: 40%;
}

.cards {
  display: flex;
  
}

.card {
  background-color: #0026d9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 190px;
  height: 140px;
  padding: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #fff;
}