footer {
  display: flex;
  background-color: #0926D8;
  color: #fff;
}

.footer-left {
  width: 75%;
  padding: 150px 10%;
  display: flex;
  flex-wrap: wrap;
}

.footer-left ul {
  width: 23%;
}

.footer-left ul:not(li:last-child) {
  margin-right: 15px;
} 

.footer-left ul h3 {
  font-size: 23px;
  margin-bottom: 30px;
  font-weight: normal
}

.footer-left ul li {
  margin: 25px 0;
  font-size: 15px;
}

.footer-right {
  width: 25%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-right h3 {
  font-size: 20px;
  line-height: 30px;
  margin-top: 20px
}

.footer-right p {
  width: 60%;
  line-height: 20px;
  text-align: justify;
  margin-bottom: 30px;
}

.marginIcon {
  margin-right: 20px;
}

@media only screen and (max-width: 1150px) {
  .footer-left {
    width: 70%;
  }

  .footer-right{
    width: 30%;
  }

  .footer-left ul {
    width: 40%;
  }

  .footer-right p {
    text-align: center;
  }
}

@media only screen and (max-width: 880px) {
  footer {
    flex-direction: column;
  }

  .footer-left, .footer-right {
    width: 100%;
  }

  .footer-right {
    padding: 60px 0;
  }
}

@media only screen and (max-width: 600px) {
  .footer-left ul {
    width: 90%;
  }
}